html {
    background: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #cececf;
    color: #333333;
    font-family: Raleway, sans-serif;
    margin-top: 40px;
    width: 400px;
    min-height: 380px;
    border: 5px solid #dfdfdf;
}

header {
    height: 100px;
    width: 100%;
    background: url("https://picsum.photos/320/200?random=1&blur=2") no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center ;
    justify-content: flex-start;
}

header span {
    color: white;
    text-shadow: 3px 3px 0 black;
    font-size: 60px;
    font-weight: bold;
    margin-left: 30px;
}

.avatar {
    height: 80px;
    width: 80px;
    border: 3px solid #dfdfdf;
    border-radius: 50%;
}

.container {
    border-top: 1px solid gray;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

textarea{
    min-width: 100%;
    max-width: 100%;
    max-height: 10em;
    min-height: 2em;
}

button {
    margin-top: 10px;
    font-size: 20px;
    color: #ffff;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    background-color: dodgerblue;
    border: 0;
}

ul {
    list-style: none;
    min-width: 100%;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 5px;
}

li span {
    padding: 10px;
    background: white;
    min-height: 60px;
    width: calc(100% - 120px);
    border-radius: 10px;
}

.person1 {
    display: flex;
    align-items: center ;
    justify-content: space-between;
}

.person2 {
    background: #bdbdbe;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    flex-flow: row-reverse;
}

